/* riset css */
*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*(scroll comportement: dous)*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
   
}

/* *********** Navigation ************ */
nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: background-color 0.3s ease-in-out,
        border-bottom 0.3s ease-in-out;
}
nav.anim-nav{
    background: #000;
    border-bottom: 1px solid #fff;
    color: #f1f1f1;
}
nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav li{
    margin: 0 15px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #fff ;
    text-transform: uppercase;
    /* font-weight: bold; */
}

@media screen and (max-width: 550px) {
    nav li{
        margin: 0 8px;
    }
    nav a{
        font-size: 15px;
    }
}

/*  *********** Accueil ************ */
.accueil{
    height: 800px;
    display: flex;
    overflow: hidden;
}
.bloc-gauche-accueil{
    position: relative;
    width: 40%;
    height: 100%;
    background: #000;
 /* axe X, axe Y, le flou, l'etandu , la couleur*/
    box-shadow: 90px 0px 100px #000;
}
h1{
    color: #f1f1f1;
    font-family: 'Montserrat', Helvetica, sans-serif ;
    font-size: 90px;
    padding: 200px 0px 20px 0px;
    margin-left: 8vw; /*viewport: 8% de la largeur d'ecran*/
    white-space: nowrap;
}
.accueil p {
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}

.btn-accueil {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px ;
    outline: none;
    border: none;
    margin-top: 40px;
    border: 1px solid #f1f1f1;
    width: 150px;     /*pour avoir des bouton de même taille*/
    cursor: pointer;
}

.btn-accueil:hover {
    transition: all 0.2s ease;
    color: #000;
    background: #f1f1f1;
}

.b1{
    margin-left: 8vw; 
}
.b2{
    margin-left: 10px;
}

.bloc-droit-accueil{
    background-image: url('ressources/gym-accueil.jpg');
    width: 60%;
    height: 100% ;
  /* on va positioner l'image: axe: X - axe: Y*/
    background-position: 60% 25%;
}

/* ****** Media Screen Accueil ******* */
@media screen and (max-width: 1350px) {
    .bloc-droit-accueil{
        background-position: 70% 30%;
        
    }
    .bloc-gauche-accueil{
        width: 60%;
    }
}
@media screen and (max-width: 750px) {
    .accueil{
        height: 600px;
    }
    h1{
        font-size: 50px;
        padding-top: 120px;
        /* margin-left: 5vw; */
    }
    .accueil p{
        font-size: 25px;
        margin-bottom: 10px;
        /* margin-left: 5vw; */
    }
    .btn-accueil {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
   
    .bloc-gauche-accueil{
        width: 50%;
    }
}
@media screen and (max-width: 550px){
    .accueil{
        height: 450px;
        /* max-width: 500px;
        margin: 0 auto; */
    }
    h1{
        font-size: 30px;
        padding-top: 100px;
        margin-left: 2vw ;
    }
    .accueil p{
        font-size: 20px;
        margin-bottom: 15px;
        margin-left: 2vw ;
    }
    .btn-accueil {
        padding: 8px;
        font-size: 16px;
    }
    .b1{
        margin-left: 2vw ;
    }
    .b2 {
        margin-left: 10px;
    }
    .bloc-gauche-accueil{
        width: 40%;
        box-shadow: 20px 0 100px 100px #000;
    }
    /* .bloc-droit-accueil{
        width: 70%;
    } */
}

/* ******* Section 1 INFOS ****** */

.titre-section-info {
    color: #000;
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    padding: 50px 20px 120px;
    font-family: 'Montserat', Helvetica, sans-serif;
}
.section-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;
}
.carte-info {
    width: 350px;
    height: auto;
    margin: 0px 20px 80px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}
.container-photo-info img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.carte-infos h2 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding: 20px 5px;
}
.carte-info p {
    color: #333;
    text-align: center;
    font-size: 23px;
    padding: 0px 5px 15px;
}
.deco-infos {
    position: absolute;
    z-index: -1; 
    top: -70px;
    left: -100px;
}

@media screen and (max-width: 1400px){
    .deco-infos {
        display: none;  /*faire disparetre img pointes*/
    }
}

@media screen and (max-width: 1000px) {
    .titre-section-info {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    .titre-section-info {
        font-size: 32px;
        padding: 40px 20px 40px;
    }
    .carte-info {
        margin: 0px 10px 45px;
    }
}

/* ******** Section 2 Choix ********* */

#choix{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.entrainement-choix{
    color: #f1f1f1;
    width: 30%;
    text-align: center;
    margin: 50px 20px 70px;
}
.entrainement-choix h3{
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Montserrat", Helvetica, sans-serif;
}
.entrainement-choix p{
    font-size: 18px;
    width: 70%;
    margin: 0px auto 30px;
}
.btn-outline-choix {
    width: 300px;
    padding: 15px 0;
    font-size: 22px;
    background: #000;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}
.btn-outline-choix:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #000;
    /* font-weight: bold; */
}

@media screen and (max-width: 1200px) {
    .entrainement-choix {
        width: 400px;
    }
}

@media screen and (max-width: 775px) {
    #choix{
        flex-direction: column;
        /* width: 100%; */
    }
    .entrainement-choix h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .btn-outline-choix {
        width: 250px;
    }
    .entrainement-choix {
        width: 350px;
        margin: 50px 0 70px;
    }
    .entrainement-choix:nth-child(1){
        margin: 50px 20px 0px;
    }
}

@media screen and (max-width: 450px) {
    
    .entrainement-choix h3{
        font-size: 30px;
        margin-bottom: 12px;
    }
}

/* ***** section Equipements ****** */

.titre-equipements {
    text-align: center;
    font-size: 70px;
    color: #000;
    padding: 50px 0px;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, sans-serif;
}

#equipement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0px auto 100px;
}
.btn-modale {
    width: 350px;
    height: 400px;
    border: none;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-modale:nth-child(1){
    background-image: url('ressources/img1-equip.jpg');
}
.btn-modale:nth-child(2){
    background-image: url('ressources/img2-equip.jpg');
}
.btn-modale:nth-child(3){
    background-image: url('ressources/img3-equip.jpg');
}
.btn-modale:nth-child(4){
    background-image: url('ressources/img4-equip.jpg');
}
.btn-modale:nth-child(5){
    background-image: url('ressources/img5-equip.jpg');
}
.btn-modale:nth-child(6){
    background-image: url('ressources/img6-equip.jpg');
}
.btn-modale:nth-child(7){
    background-image: url('ressources/img7-equip.jpg');
}
.btn-modale:nth-child(8){
    background-image: url('ressources/img8-equip.jpg');
}
.btn-modale:nth-child(9){
    background-image: url('ressources/img9-equip.jpg');
}

/* ******* LA MODALE ******* */

.bloc-modale {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
    
}
.active-modale {
    display: block;
   
}
.bloc-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    /* border: 3px solid #f1f1f1; */
}
.bloc-modale img {
    width: 100%;
}

.fermeture-modale{
    position: absolute;
    z-index: 400;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    font-size: 22px;
    color: white;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}
@media  screen and (max-width: 850px) {
    .titre-equipements{
        font-size: 45px;
    }   
}

@media  screen and (max-width: 500px) {
    .titre-equipements{
        font-size: 35px;
    }    
}

/* ****** Section PARALLAX ******** */

.parallax {
    background-image: url("ressources/img-paral.jpg");
    /* on va attacher notre img par raport a notre scroll 
    et par raport a notre site*/
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-txt {
    font-size: 100px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .parallax-txt{
        font-size: 50px;
    }
}

/* ****** Section TARIFS ******** */

.titre-tarifs {
    background: #f1f1f1;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px;
}
#tarifs {
    display: flex;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0px auto 100px;

}
/* .carte-tarif{
    width: 350px;
    min-height: auto;
    background: darkblue;
    color: #f1f1f1;
    margin: 20px 10px;
    border-radius: 5px;
} */
.carte-tarif {
    width: 350px;
    min-height: auto;
    background-image: repeating-linear-gradient(22.5deg, rgba(255,255,255,0.05) 0px,
        rgba(255,255,255,0.05) 1px,transparent 1px, transparent 31px,
        rgba(255,255,255,0.05) 31px, rgba(255,255,255,0.05) 32px,
        transparent 32px, transparent 92px),
        repeating-linear-gradient(112.5deg, rgba(255,255,255,0.05) 0px, 
        rgba(255,255,255,0.05) 1px,transparent 1px, transparent 31px,
        rgba(255,255,255,0.05) 31px, rgba(255,255,255,0.05) 32px,transparent 32px, 
        transparent 92px),repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px,
        rgba(255,255,255,0.05) 1px,transparent 1px, transparent 31px,
        rgba(255,255,255,0.05) 31px, rgba(255,255,255,0.05) 32px,
        transparent 32px, transparent 92px),linear-gradient(90deg, hsl(279,0%,3%),hsl(279,0%,3%));
   color: #f1f1f1;
   margin: 20px 10px;  
   border-radius: 5px;
}

.carte-tarif h3 {
    text-align: center;
    font-size: 45px;
    margin: 25px 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    position: relative;
}

hr{
    width: 30%;
    margin: 0px auto;
}   
.prix-carte{
    text-align: center;
    font-size: 30px;
    margin: 25px 0;
}
.prix-carte span{
    font-size: 80px;
    position: relative;
    /*car on va lui relier un pseoudo element*/
}
.prix-carte span::after{
    content: "€";
    display: block;
    position: absolute;
    top: 10px;
    right: -20px;
    font-size: 25px;
}
.infos-carte {
    width: 170px;
    margin: 20px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;
}
.infos-carte img{
    width: 20px;
    margin-right: 7px;
}

/* ***** Section CNTACT ****** */

.titre-contact {
    border-top: 2px dashed #000;
    text-align: center;
    font-size: 50px;
    padding: 50px 0px;
}
form {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;
}
label, input {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
}
form input {
    padding: 10px 5px;

}
input:nth-child(4) {
    margin-bottom: 20px;
}
textarea {
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 15px;
}
label:nth-child(5) {
    margin-bottom: 10px;
}
.form-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 7px;
    width: 250px;
}
@media  screen and (max-width: 1100px) {
    #contact{
        width: 80%;
    }
}
/* @media screen and (max-width: 550px) {
    #contact{
        width: 100%;
    }
} */

/* ****** FOOTER ******* */

footer{
    border-top: 2px dashed #000;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
}
@media  screen and (max-width: 980px) {
    footer p{       
        font-size: 20px;
        padding: 10px 5px;
    }
}
@media  screen and (max-width: 500px) {
    footer p{       
        font-size: 15px;
        padding: 10px 5px;
    }
}